Flask==1.1.2
requests==2.23.0
pylint==2.4.0
gunicorn==20.0.4
pymongo==3.11.0
Flask-PyMongo==2.3.0
prometheus-client==0.12.0
prometheus_flask_exporter
flask_opentracing
opentracing
jaeger_client
opentelemetry-api==1.6.2
opentelemetry-sdk==1.6.2
opentelemetry-instrumentation==0.25b2
opentelemetry-instrumentation-flask==0.25b2
opentelemetry-instrumentation-requests==0.25b2
opentelemetry-exporter-jaeger-thrift==1.6.2